.vscode/
mesonbuild/
build/
debian/files
debian/tmp
debian/debhelper-build-stamp
debian/plymouth-theme-vanilla.substvars
debian/plymouth-theme-vanilla
debian/plymouth-theme-vanilla-bgrt
debian/plymouth-theme-vanilla-logo
debian/plymouth-theme-vanilla-text
debian/plymouth-theme-vanilla-bgrt.substvars
debian/plymouth-theme-vanilla-logo.substvars
debian/plymouth-theme-vanilla-text.substvars
debian/plymouth-theme-vanilla.debhelper.log
debian/plymouth-theme-vanilla-bgrt.debhelper.log
debian/plymouth-theme-vanilla-logo.debhelper.log
debian/plymouth-theme-vanilla-text.debhelper.log
debian/.debhelper