Source: plymouth-theme-vanilla
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 11),
Homepage: https://github.com/mirkobrombin/plymouth-theme-vanilla/
Vcs-Browser: hhttps://github.com/mirkobrombin/plymouth-theme-vanilla
Vcs-Git: https://github.com/mirkobrombin/plymouth-theme-vanilla.git
Rules-Requires-Root: no

Package: plymouth-theme-vanilla
Architecture: all
Depends: plymouth-theme-vanilla-bgrt,
         plymouth-theme-vanilla-text
Description: Official Vanilla OS Plymouth (metapackage)
 This package contains the official Vanilla OS Plymouth theme.
 .
 This package is a metapackage, it depends on the logo and text packages.

Package: plymouth-theme-vanilla-bgrt
Architecture: all
Depends: plymouth,
         plymouth-label,
         ${misc:Depends},
Provides: plymouth-theme,
Breaks: plymouth (<< 0.9.2-3ubuntu1~),
Description: Official Vanilla OS Plymouth (bgrt)

Package: plymouth-theme-vanilla-text
Architecture: all
Depends: plymouth,
         plymouth-theme-ubuntu-text,
         ${misc:Depends},
Provides: plymouth-theme,
Breaks: plymouth (<< 0.9.2-3ubuntu1~),
Description: Official Vanilla OS Plymouth (text)